
<% unless @lan.nil? %>
  <h1>Lan : <%= @lan.name %></h1>
<!--  <h2>About : <%#= @lan.about %></h2>-->
<!--  <h2>Location : <%#= @lan.location %></h2>-->
  <h2>Start Date: <%= long_date(@lan.start_date) %></h2>

  <div class="row">
    <div class="card">
      <div class="section"><h3>Location</h3></div>
      <div class="section"><%= @lan.location %></div>
    </div>
    <div class="card">
      <div class="section"><h3>About</h3></div>
      <div class="section">Name:<%= @lan.name %></div>
      <div class="section">About:<%= @lan.about %></div>
    </div>
    <div class="card">
      <div class="section"><h3>Start Date</h3></div>
      <div class="section"><%= long_date(@lan.start_date) %></div>
    </div>
  </div>
  <h2>Timetable</h2>
  <div id="root"></div>

  <%= calendar number_of_days: 7, events: @lan.events  do |date,events| %>
    <%= date %>
    <% events.each do |event| %>
      <p><%= link_to "#{event.name} #{date_time(event.start_time)}", event_show_path(event.id) %></p>
    <% end %>
  <% end %>
<% else %>
  <h2>No lans planned yet</h2>
<% end %>
